body{background: linear-gradient(0deg, #000000, #3d3d3d);
 }

 img{width: 75%;
     height: 75%;
 }

 h1, h2{font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic",
 Arial, sans-serif; font-variant: small-caps;
 font-weight: 100; line-height: 55px; color: gold;
 }

 ol{text-align: center;
 }

 li{font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic",
 Arial, sans-serif; font-size: 25px; font-variant: small-caps;
 font-weight: 100; line-height: 30px; color: gold; text-align: center;
 }

 .space{
   padding-right: 10px;
   padding-left: 10px;
 }
